@using HireHub.Web.Services.Data;
@using System.Security.Claims;
@using HireHub.Web.Services.Data.Interfaces;
@model IEnumerable<HireHub.Web.ViewModels.Company.GetAllApplications>
@inject ICompanyService companyService;

<table>
    <thead>
        <tr>
            <th>Logo</th>
            <th>Position</th>
            <th>Created on</th>
            <th>My Resume</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td class="img-approve">
                    <img class="logo" src="@job.LogoUrl" alt="Company Logo">
                </td>
                <td>@job.Title</td>
                <td>@job.CreatedOn</td>
                <td>
                    <img class="application_pdf-img" src="~/images/pdf.png">
                    <a href="@job.Resume" target="_blank">View documents</a>
                </td>
                <td>
                    @{
                        bool? isHiring = await companyService.IsHire(User.FindFirstValue(ClaimTypes.NameIdentifier), job.Id.ToString());

                        if (isHiring == null)
                        {
                            <div class="btn-group">
                                <form asp-route-id="@job.Id" asp-action="Remove" asp-controller="Application" class="btn-group">
                                    <button type="submit" class="btn btn-primary btn btn-block" name="approveButton">Remove</button>
                                </form>
                                <form asp-route-id="@job.Id" asp-action="Details" asp-controller="Job" class="btn-group">
                                    <button type="submit" class="btn btn-primary btn btn-block" style="background-color:#dc3545 !important">Details</button>
                                </form>
                            </div>
                        }
                        if (isHiring == true)
                        {
                            <a class=" btn apply-btn">Hired</a>
                        }
                        else if (isHiring == false)
                        {
                            <a class=" btn btn-danger">Rejected</a>
                        }

                    }
                </td>
            </tr>
            }
    </tbody>
</table>
