@model HireHub.Web.ViewModels.Jobs.DetailsJobVM

<div class="job-details">
    <div class="logo-container">
        <img class="logo" src="@Model.LogoUrl" alt="Company Logo">
    </div>
    <h3>@Model.Title</h3>
    <p>@Model.CompanyName - @Model.Location</p>
    <p>Minimum Salary: @Model.MinSalary.ToString("0")</p>
    <p>Maximum Salary: @(Model.MaxSalary != null ? Model.MaxSalary.Value.ToString("0") : "-")</p>
    <p>Created on: @Model.CreatedOn</p>
    <hr />
    <div class="description">
        <h4>Description</h4>
        <p>@Model.Description</p>
    </div>
    <div class="requirements">
        <h4>Requirements</h4>
        <ul>
            @foreach (var requirement in Model.Requirements.Split(new[] { ';' }, StringSplitOptions.RemoveEmptyEntries))
            {
                <li>@requirement</li>
            }
        </ul>
    </div>
    <div class="apply-button">
        <td>
            <div class="btn-group">
                <form asp-route-id="@Model.Id" asp-action="ApproveJob" asp-controller="Job"  class="btn-group">
                    <button type="submit" class="app-btn btn-approve" name="approveButton">Approve</button>
                </form>
                <form asp-route-id="@Model.Id" asp-action="RejectJob" asp-controller="Job" class="btn-group">
                    <button type="submit" class="app-btn btn-reject">Reject</button>
                </form>
                <form asp-route-id="@Model.Id" asp-action="AllJobsForApprove" asp-controller="Job" class="btn-group">
                    <button type="submit" class="app-btn btn-details">Back</button>
                </form>
                    
            </div>
        </td>
    </div>
</div>