@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HireHub.Web.ViewModels.Jobs.DetailsJobVM

<div class="job-details">
    <div class="logo-container">
        <img class="logo" src="@Model.LogoUrl" alt="Company Logo">
    </div>
    <h3>@Model.Title</h3>
    <p>@Model.CompanyName - @Model.Location</p>
    <p>Minimum Salary: @Model.MinSalary.ToString("0")</p>
    <p>Maximum Salary: @(Model.MaxSalary != null ? Model.MaxSalary.Value.ToString("0") : "-")</p>
    <p>Created on: @Model.CreatedOn</p>
    <hr />
    <div class="description">
        <h4>Description</h4>
        @foreach (var description in Model.Description.Split(new[] {';'}, StringSplitOptions.RemoveEmptyEntries))
        {
            <p>@description</p>
        }
    </div>
    <div class="requirements">
        <h4>Requirements</h4>
        <ul>
            @foreach (var requirement in Model.Requirements.Split(new[] { ';' }, StringSplitOptions.RemoveEmptyEntries))
            {
                <li>@requirement</li>
            }
        </ul>
    </div>
    <div class="apply-button">
        @if(Model.CreatorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <button class="apply-btn"><a class="apply-link" asp-route-id="@Model.Id" asp-action="Edit" asp-controller="Job">Edit</a></button>
            <button class="apply-btn"><a class="apply-link" asp-route-id="@Model.Id" asp-action="Delete" asp-controller="Job">Delete</a></button>
        }
        else
        {
            <button class="apply-btn"><a class="apply-link" asp-route-id="@Model.Id" asp-action="Apply" asp-controller="Application">Apply Now</a></button>
        }
        
    </div>
</div>
