@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HireHub.Web.Services.Data.Interfaces
@using HireHub.Data.Entities
@model HireHub.Web.ViewModels.Jobs.EditJobVM

@{
    ViewBag.Title = "Add a new job";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />
<div class="create-container">
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="@Model.Logo">Logo:</label>
            <input asp-for="@Model.Logo" type="text" class="form-control" value="@Model.Logo">
            <span asp-validation-for="@Model.Logo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Title">Title:</label>
            <input asp-for="@Model.Title" type="text" class="form-control" value="@Model.Title">
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CategoryId">Category:</label>
            <select asp-for="@Model.CategoryId" class="form-control">
                <option value="" selected disabled>Select Category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id" selected="@category.Id == Model.CategoryId">@category.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Description">Description:</label>
            <textarea asp-for="@Model.Description" class="form-control">@Model.Description</textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Requirements">Requirements:</label>
            <textarea asp-for="@Model.Requirements" class="form-control">@Model.Requirements</textarea>
            <span asp-validation-for="@Model.Requirements" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.MinSalary">Min Salary:</label>
                <input asp-for="@Model.MinSalary" type="number" class="form-control" value="@Model.MinSalary">
                <span asp-validation-for="@Model.MinSalary" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.MaxSalary">Max Salary:</label>
                <input asp-for="@Model.MaxSalary" type="number" class="form-control" value="@Model.MaxSalary">
                <span asp-validation-for="@Model.MaxSalary" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CountryId">Country:</label>
            <select asp-for="@Model.CountryId" class="form-control">
                <option value="" selected disabled>Select Country</option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country.CountryId" selected="@(country.CountryId == Model.CountryId)">@country.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.TownId">Town:</label>
            <select asp-for="@Model.TownId" class="form-control">
                <option value="" selected disabled>Select Town</option>
                @foreach (var town in Model.Towns)
                {
                    <option value="@town.TownId" selected="@(town.TownId == Model.TownId)">@town.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.TownId" class="text-danger"></span>
        </div>



        <div class="btn-container">
            <button type="submit" class="apply-btn">Submit</button>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        $("#CountryId").change(function () {
            loadTowns();
        });
    });

    function loadTowns() {
        var countryId = $("#CountryId").val();

        $.ajax({
            url: `/Job/GetTownsByCountryId`,
            type: "GET",
            data: { countryId: countryId },
            success: function (response) {
                populateTownDropdown(response);
            },
            error: function (xhr, status, error) {
                console.error("Failed to load town data: " + status);
            }
        });
    }

    function populateTownDropdown(towns) {
        var townDropdown = $("#TownId");
        townDropdown.empty();
        townDropdown.append('<option value="" selected disabled>Select Town</option>');

        $.each(towns, function (i, town) {
            console.log(town);
            townDropdown.append('<option value="' + town.townId + '">' + town.name + '</option>');
        });
    }

</script>