@model IEnumerable<HireHub.Web.ViewModels.Jobs.GetLastFiveJobsVM>
@{
    ViewData["Title"] = "Explore Job";
}
@if (Model.Any())
{
    @foreach (var job in Model)
    {
        <div class="job-card">
            <img class="logo" src="@job.LogoUrl" alt="Company Logo">
            <div class="job-details">
                <div class="created-date">@job.CreatedOn.ToString("dd - MMMM - yyyy")</div>
                <div class="job-title">@job.Title</div>
                <div class="company">Company: @job.CompanyName</div>
                <div class="location">Location: @job.Town</div>
                <div class="description">
                    Salary: @job.MinSalary.ToString("0") lv.
                    @if (job.MaxSalary != null)
                    {
                        @($" - {job.MaxSalary.Value.ToString("0")} lv.")
                    }
                </div>
                <button class="apply-btn"><a class="apply-link" asp-route-id="@job.Id" asp-action="Index" asp-controller="Home">Apply Now</a></button>
            </div>
        </div>
    }

}
else
{
    <h1>No Jobs Found</h1>
}
