@using HireHub.Web.Services.Data.Interfaces;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@model IEnumerable<HireHub.Web.ViewModels.Company.GetAllApplications>
@inject ICompanyService companyService

<table>
    <thead>
        <tr>
            <th>Logo</th>
            <th>Position</th>
            <th>Created on</th>
            <th>Applicant Username</th>
            <th>Applicant Resume</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td class="img-approve">
                    <img class="logo" src="@job.LogoUrl" alt="Company Logo">
                </td>
                <td>@job.Title</td>
                <td>@job.CreatedOn</td>
                <td>@job.Username</td>
                <td>
                    <img class="application_pdf-img" src="~/images/pdf.png">
                    <a href="@job.Resume" target="_blank">View documents</a>
                </td>
                <td>
                    <div class="btn-group">
                        @{
                            var userId = await companyService.GetUserIdByEmail(job.Username);
                            bool? isHiring = await companyService.IsHire(userId, job.Id.ToString());

                            if (isHiring == null)
                            {
                                <form asp-route-id="@job.Id" asp-route-email="@job.Username" asp-action="Hire" asp-controller="Company" class="btn-group">
                                    <button type="submit" class="app-btn btn-approve" name="approveButton">Hire</button>
                                </form>
                                <form asp-route-id="@job.Id" asp-route-email="@job.Username" asp-action="Reject" asp-controller="Company" class="btn-group">
                                    <button type="submit" class="app-btn btn-reject">Reject</button>
                                </form>
                            }
                            if (isHiring == true)
                            {
                                <a class=" btn apply-btn">Already Hired</a>
                            }
                            else if(isHiring == false)
                            {
                                <a class=" btn btn-danger">User Rejected</a>
                            }
                        }
                       
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
